@model Examen.Models.viewModels.CAgregarProducto

@{
    ViewBag.Title = "Nuevo Producto";
}

<h2>Nuevo Producto</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DESC_PRODUCTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESC_PRODUCTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESC_PRODUCTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ANIO_FABRICACION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ANIO_FABRICACION, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.ANIO_FABRICACION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CASA_FABRICACION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CASA_FABRICACION, (List<SelectListItem>)ViewBag.listaCasaFabricacion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CASA_FABRICACION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ESTADO_PRODUCTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ESTADO_PRODUCTO, (List<SelectListItem>)ViewBag.listaEstadoProducto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ESTADO_PRODUCTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AREA_TRATAMIENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AREA_TRATAMIENTO, (List<SelectListItem>)ViewBag.listaAreaTratamiento, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AREA_TRATAMIENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "ConsultaProducto")
</div>

